<nav class="navbar navbar-default ">
   <footer class="page-footer font-small blue pt-4">
      <div class="container-fluid text-center text-md-left">
      <div class="row justify-content-between">
         <div class="col-md-6 mt-md-0 mt-3">
            <h5 class="text-uppercase">Giới thiệu</h5>
            <i class="fa fa-gg" aria-hidden="true"></i>
            <p style="display: inline">CÔNG TY WEB MELYTEAM<br>
               Địa chỉ: Thủy Phương, Hương Thủy, TT Huế<br>
               Điện thoại: 012.3456789<br>
               Email: <a href="#">zaker854633</a>
            </p>
         </div>
         <hr class="clearfix w-100 d-md-none pb-3">
         <div class="col-md-6 mb-md-0 mb-3">
            <h5 class="text-uppercase">Truy cập</h5>
            <ul class="list-unstyled">
               <%= link_to "Link 1", "#", class: "click " %>
               <%= link_to "Link 2", "#", class: "click " %>
               <%= link_to "Link 3", "#", class: "click " %>
            </ul>
         </div>
      </div>
      <div class="footer-copyright text-center py-3">© 2018 Copyright:
         <a href="https://mdbootstrap.com/bootstrap-tutorial/">Web Mely Team </a>
      </div>
   </footer>
</nav>