<div class="bigbox">
  <div class="box">
    <table class="table-minimal" id="customers">
      <tbody>
      <tr>
        <th> Email: </th>
        <th> Quyền truy cập: </th>
        <th> Lưu quyền truy cập: </th>
        <th> Xóa: </th>
      </tr>
      <% @users.each do |user| %>
        
          <%= render user %>
      <% end %>
      </tbody>
    </table><br>
    <%= link_to "Trở về",admin_products_path, style: "margin-left:80%" %><br><br>
  </div>
</div>