<div class="container-fluid" style="margin-bottom: 370px;">
    <h1>Công ty WebMelyTeam</h1>    
    <h2><center>Xin chào quý khách </center> </h2>
    <%= link_to 'Trang chủ', controller: 'products' %>
 </div>