
.card-container {
    perspective: 1000px;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    transform-style: preserve-3d;
  }

  .card-container, .front, .back {
    width: 100%;
    height: 600px;
  }
  .flipper {
    transform-style: preserve-3d;
    position: relative;
  }

  .back {
      background-color: #d9edf7;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
  }